@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

:root {
    --azul: #2626ff;
    --azul_claro: #7171ff;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    display: grid;
    width: 100%;
    background-color: white;
    grid-template-columns: 45% 50%;
    font-weight: 600;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul);
    margin: .3rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: white;
}


nav {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 2rem;
    align-items: center;
}

button {
    background-color: var(--azul);
    border: none;
    padding: .5rem;
    font-weight: 400;
    color: white;
}

button:hover {
    cursor: pointer;
}

button a {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

main {
    margin-top: 9rem;
    display: grid;
    place-content: center;
    grid-template-columns: 45% 45%;
}


.tittle-container {
    text-align: end;
}

.tittle {
    font-weight: 800;
    font-size: 3rem;
}

.tittle_dot {
    color: var(--azul);
}

.contato {
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
}


section {
    margin-top: 5rem;
    text-align: center;
}

.section_column {
    display: grid;
    grid-template-columns: 40% 40%;
    place-content: center;
    place-items: center;
}

.section_form {
    background-color: var(--azul);
    padding: 5rem 1.5rem;
}

.section_form .container_form_img {
    background-color: white;
    border-radius: 20px;
    display: grid;
    place-content: center;
    grid-template-columns: 50% 50%;
    padding: 5rem 2rem;
}

.section_form form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

.section_form form label {
    color: var(--azul);
}

.section_form form input {
    border: none;
    border-bottom: 1px solid var(--azul);
    width: 100%;
}

.textarea_container {
    grid-column: 1 / 3;
}

.submit_container {
    grid-column: 1 / 3;
    text-align: center;
}

.submit_container button {
    width: 60%;
    font-size: 1.5rem;
}

.section_form form textarea {
    border: 1px solid var(--azul);
    border-radius: 5px;
    width: 100%;
}

.section_form form input:focus,
.section_form form textarea:focus {
    outline: none;
    border-bottom: 1px solid var(--azul_claro);
}